#navi{
	margin-top:0px;
}

#sanMiguel{
margin-top:0px;
background-color:#FF3B40;
font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:20px;
color:fff;
}
.ban{
	text-align:center;
	font-weight:900;	
}
