.jumbotron{
	background-color: #0099ff;
}

.courses{
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h3{
	font-family: Impact;
	color:black;
}

span{
	font-style: sans-serif;
	color:red;
}

p{
	color:black; 
	font-size:16px;
    font-family: sans-serif;
}
    

img{
	width: 80px;
	height:80px;

}

.IT{
    border: 2px solid #0099ff;
    padding-top:10px;
    margin: auto;
    width: 70%;
}

.network{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}

.technical{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}

.customer{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}

.archi{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}

.train{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}

.corporate{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}

.finance{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}

.maintenance{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}

.manufacturing{
	border: 2px solid #0099ff;
    padding-top: 10px;
    margin: auto;
    width: 70%;
}
